h1 {
  font-size: 30;
  font-style: italic;
  font-color:blue;
  font-family: cursive;
}
h2{
  font-size: 27;
  font-style: oblique;
  font-color: red;
}
.images{
  height: 200px;
  width: 200px;
}
.list{
  font-size: 21pxl;
  font-style: oblique;
  font-family: fantasy;
}
